{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "base_desine/loader.html" %}
{% include "base_desine/exam_timer_auto.html" %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Performance</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'student-home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Performance</li>
            </ul>
        </div>
    </div>
  </div>
  
<div class="container">
    <h1 style="text-align: center;">Student's Performance Report</h1>
    <hr>
    <div class="student-info">
        <p>Student's Name: {{ request.user.first_name }} {{ request.user.last_name }}</p>
        <p>Reg. & Roll No.: {{ request.user.student.registration_number }} ({{ request.user.student.roll_number }})</p>
        <p>Institute: {{ request.user.student.institute_name }}</p>
    </div>
    <hr>
    <div class="filters">
        <form method="GET" action="{% url 'student-performance' course.id %}">
            <select name="subject_id" onchange="this.form.submit()">  <!-- Submit the form on change -->
                <option value="">All Subjects</option>
                {% for i in subject %}
                <option value="{{ i.id }}" {% if request.GET.subject_id == i.id|stringformat:"s" %}selected{% endif %}>{{ i.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    
    <hr>
    <h4>{{ course.name }}</h4>
    <br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Date</th>
                    <th>Exam Name</th>
                    <th>Subject</th>
                    <th>Platform</th>
                    <th>MCQ Obtain Mark</th>
                    <th>Written Obtain Marks</th>
                    <th>Total Obtain Marks</th>
                    <th>Total Marks</th>
                    <th>Highest Marks</th>
                    <th>Merit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in all_results %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.exam.start_time }}</td>
                    <td>{{ item.exam.exam_name }}</td>
                    <td>{{ item.exam.subject }}</td>
                    <td>{{ item.model_name }}</td>
                    <td>{{ item.mcq_obtained_marks }}</td>
                    <td>{{ item.written_obtained_marks }}</td>
                    <td>{{ item.obtained_marks }}</td>
                    <td>{{ item.obtained_marks }} / {{ item.total_marks }}</td>
                    <td>{{ item.highest_marks }}</td>
                    <td>{{ item.merit_position }}</td> <!-- Merit position for this exam -->
                    <td><a href="{% url "student-performance-view-question" item.exam.id %}"><button class="btn btn-success">View Question</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br><br>
    <h4>Student Merit Calculation</h4>
    <br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Course Name</th>
                    <th>Total Exam Marks</th>
                    <th>Total MCQ Obtain Marks</th>
                    <th>Total Written Obtain Marks</th>
                    <th>Total Obtained Marks</th>
                    <th>Highest Marks</th>
                    <th>Merit Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{ course_name }}</td>
                    <td>{{ total_exam_mark }}</td>
                    <td>{{ total_mcq_obtain_mark }}</td>
                    <td>{{ total_written_obtain_mark }}</td>
                    <td>{{ total_obtain_mark }} / {{ total_possible_marks }}</td>
                    <td>{{ highest_total_marks }}</td>
                    <td>{{ merit_position }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br>
<style>
    .container {
        width: 100%;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 20px;
    }
    .student-info {
        margin-bottom: 20px;
    }
    .filters {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .filters select, .filters button {
        padding: 5px;
        font-size: 14px;
    }
    .table-container {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }
    th {
        background-color: #f2f2f2;
    }
    .view-button {
        background-color: #007FFF;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        margin-right: 30px;
    }
    .view-button:hover {
        background-color: #5a6268;
    }
</style>

{% endblock %}
