{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="timer-container">
  <div id="timer" class="timer"></div>
</div>
<div class="jumbotron my-4">
  <!-- Timer -->
  
  <form class="form" autocomplete="off" onsubmit="return saveAns()" action="{% url 'student-live-exam-calculate-marks'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="exam_id" value="{{ exam.id }}">
    <h1 style="text-align: center;">{{ exam.exam_name }}</h1>
    <br>
    {% for q in questions %}
    <div class="question-container">
      <h3 class="question-title text-info">{{ forloop.counter }}. {{ q.question }}</h3>
      <h4 class="question-marks" style="text-align: right;">[Marks {{ q.marks }}]</h4>

      <div class="options-container">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.option1 }}" value="Option1">
          <label class="form-check-label" for="{{ q.option1 }}">
            {{ q.option1 }}
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.option2 }}" value="Option2">
          <label class="form-check-label" for="{{ q.option2 }}">
            {{ q.option2 }}
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.option3 }}" value="Option3">
          <label class="form-check-label" for="{{ q.option3 }}">
            {{ q.option3 }}
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.option4 }}" value="Option4">
          <label class="form-check-label" for="{{ q.option4 }}">
            {{ q.option4 }}
          </label>
        </div>
      </div>
    </div>
    {% endfor %}
    <br><br>
    <button class="btn btn-info btn-lg" type="submit">Submit</button>
  </form>
</div>

<style>
  .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .timer {
    font-size: 40px;
    color: #fff;
  }

  .question-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
  }

  .question-title {
    margin-bottom: 10px;
  }

  .question-marks {
    margin-top: -5px;
    margin-bottom: 15px;
  }

  .options-container {
    padding-left: 20px;
  }

  .form-check-input {
    margin-right: 10px;
    width: 16px; /* Adjust width */
    height: 16px; 
  }
  .form-check-label {
    font-size: 18px; /* Adjust as needed */
  }
</style>

<script>
  // Retrieve the initial timer duration from the model
  var initialTimerDuration = parseInt("{{ exam.duration.total_seconds }}"); // Convert duration to seconds
  var timerDuration = initialTimerDuration ? initialTimerDuration : 60 * 30; // 30 minutes

  function saveAns() {
    var ele = document.getElementsByTagName('input');
    for (i = 0; i < ele.length; i++) {
      if (ele[i].type === "radio") {
        if (ele[i].checked) {
          setCookie(ele[i].name, ele[i].value, 3)
        }
      }
    }
  }

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  // Function to update the timer
  function updateTimer() {
    var hours = Math.floor(timerDuration / 3600);
    var minutes = Math.floor((timerDuration % 3600) / 60);
    var seconds = timerDuration % 60;
    
    // Pad with leading zeros if necessary
    hours = String(hours).padStart(2, '0');
    minutes = String(minutes).padStart(2, '0');
    seconds = String(seconds).padStart(2, '0');

    // Display the timer
    document.getElementById('timer').innerHTML = hours + ":" + minutes + ":" + seconds;

    // Update the timer duration
    timerDuration--;

    // Check if the timer has reached zero
    if (timerDuration < 0) {
      // Submit the form after a delay (e.g., 1 second)
      setTimeout(function() {
        document.querySelector('form').submit(); // This submits the form
      }, 1000);
      timerDuration = initialTimerDuration;
      // Start the timer again
      updateTimer();
    } else {
      // Store the current timer duration in local storage
      localStorage.setItem('initialTimerDuration', timerDuration);

      // Schedule the next update after 1 second
      setTimeout(updateTimer, 1000);
    }
  }

  // Start the timer only if there's no stored timer duration
  window.onload = function() {
    var storedTimerDuration = localStorage.getItem('initialTimerDuration');
    if (storedTimerDuration === null) {
      updateTimer();
    } else {
      // If there's a stored timer duration, update the timer with it
      timerDuration = parseInt(storedTimerDuration);
      updateTimer();
    }
  };

  // Clear the stored timer duration from local storage when the form is submitted
  document.querySelector('form').addEventListener('submit', function() {
    localStorage.removeItem('initialTimerDuration');
  });
</script>




<br><br><br><br><br><br>
{% endblock %}
