{% extends "base.html" %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Online Live Class</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Online Live Class</li>
                </ul>
            </div>

            <div class="col-auto text-right float-right ml-auto">
                <a id ="course-list-download" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                <a href="{% url 'admin-add-online-live-class' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>

    {% include "base_desine/massages.html" %}



    <form method="get" action="{% url 'admin-course-view' %}">
        
        <div class="form-group">
            <label for="class_filter">Filter by Class:</label>
            <select class="form-control" id="class_filter" name="class_filter" >
                <option value="">All Classes</option>
                {% for class_instance in classes %}
                <option value="{{ class_instance.id }}" {% if class_instance.id|stringformat:"s" == selected_class %}selected{% endif %}>{{ class_instance.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </form>

    <br>



    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_id" class=" table table-hover table-center mb-0 ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Topic</th>
                                    <th>Start Time</th>
                                    <th>Duration</th>
                                    <th>Start Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in class %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.topic }}</td>
                                    <td>{{ i.start_time|date:"Y-m-d H:i"}}</td>
                                    <td>{{ i.duration }}</td>
                                    <td>
                                        <a href="{{ i.join_url}}">
                                            <button type="button" class="btn btn-success">
                                                Join Class
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
