{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">
   <div class="page-header">
       <div class="row align-items-center">
           <div class="col">
               <h3 class="page-title">View Attendance</h3>
               <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="{% url 'student-home' %}">Dashboard</a></li>
                   <li class="breadcrumb-item active">View Attendance</li>
               </ul>
           </div>

           <div class="col-auto text-right float-right ml-auto">
               <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
               
           </div>
       </div>
   </div>

   {% include "base_desine/massages.html" %}



   <div class="row">
       <div class="col-sm-12">
           <div class="card card-table">
               <div class="card-body">
                   <div class="table-responsive">
                       <table id="table_id" class=" table table-hover table-center mb-0 ">
                           <thead>
                               <tr>
                                   <th>Date</th>
                                   <th>Name</th>
                                   <th>Class</th>
                                   <th>Roll</th>
                                   
                                   
                               </tr>
                           </thead>
                           <tbody>
                               {% for report in attendance_reports %}
                               <tr>
                                <td>{{ report.attendance_id.attendance_date }}</td>
                                <td>{{ report.student_id.admin.first_name }} {{ report.student_id.admin.last_name }}</td>
                                <td>{{ report.student_id.user_class }}</td>
                            
                                   <td>{{ report.student_id.roll_number }}</td>
                                   
                                   
                               </tr>
                             
                               {% endfor %}
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock  %}