{% extends "base.html" %}
{% block content %}
{% include "base_desine/loader.html" %}

<div class="page-header">
   <div class="row align-items-center">
       <div class="col">
           <h3 class="page-title">Add Notice</h3>
           <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'admin_home'%}">Dashboard</a></li>
               <li class="breadcrumb-item active">Add Notice</li>
           </ul>
       </div>

       <div class="col-auto text-right float-right ml-auto">
           <a href="{% url '' %}" class="btn btn-primary"><i class="fa fa-eye"></i> View Notices</a>
       </div>
   </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method='post' action='{% url "admin-add-notice" %}' enctype="multipart/form-data" >
                {% csrf_token %}
                   <div class="col-12">
                      <h5 class="form-title"><span>Add Notice</span></h5>
                   </div>
                   {% include "base_desine/massages.html" %}

                  <div class="col-sm-11">
                      <div class="form-group">
                         <label>Title</label>
                         <input type="text" class="form-control" name='title' required>
                      </div>
                  </div>

                  <div class="col-sm-11">
                      <div class="form-group">
                         <label>Upload PDF</label>
                         <input type="file" class="form-control" name='pdf' accept="application/pdf" required>
                      </div>
                  </div>
                   
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Notice</button>
                   </div>
             </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}
