{% load static%}




<section class="footer">

    <div class="box-container">
 
       <div class="box">
          <h3> <i class="fas fa-lightbulb"></i> EduWise</h3>
          <p>Welcome To Our School.</p>
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
       </div>
 
       <div class="box">
          <h3>quick links</h3>
          <a href="{% url ""%}" class="link">home</a>
          <a href="{% url "about"%}" class="link">about</a>
          <a href="courses.html" class="link">courses</a>
          <a href="{% url "contract"%}" class="link">contact</a>
       </div>
 
       <div class="box">
          <h3>useful links</h3>
          <a href="#" class="link">help center</a>
          <a href="#" class="link">ask questions</a>
          <a href="#" class="link">send feedback</a>
          <a href="#" class="link">private policy</a>
          <a href="#" class="link">terms of use</a>
       </div>
 
       <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest upadates</p>
          <form action="">
             <input type="email" name="" placeholder="enter your email" id="" class="email">
             <input type="submit" value="subscribe" class="btn">
          </form>
       </div>
 
    </div>
 
    <div class="credit"> created by <span>arnab datta</span> | all rights reserved! </div>
 
 </section>
 
 <!-- footer section ends -->
 