{% load static%}


<!-- header section starts  -->

<header class="header">
    
    
   <a href="{% url "" %}" class="logo"><i class="fas fa-lightbulb"></i> EduWise</a>

   <nav class="navbar">
      <div class="container-fluid">
      <div id="close-navbar" class="fas fa-times"></div>
      
      <a href="{% url ''%}">home</a>
      
      
      <a href="{% url 'contract'%}">contact</a>
      <a href="{% url 'about'%}">about</a>
      <a href="{% url 'gallery'%}">Gallery</a>

   </nav>
   
    <div class="icons">
            
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>
   
   <div class="icons">
    <a href="{% url 'join_now'%}"><div id="account-btn" class="fas fa-user"></div></a>
    
    </div>
</header>