{% load static%}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script>
    $(document).ready(function() {

        // Pie Chart
        var options = {
            series: [{{student_count}}, {{teacher_count}}, {{course_count}}, {{exam_count}}],
            chart: {
                height: 311,
                width: '100%',
                type: 'pie',
            },
            labels: ['Student', 'Teacher', 'Course', 'Exam'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#all_details"), options);
        chart.render();

        // Bar Chart for Gender Distribution
        if ($('#student_gender').length > 0) {
            var optionsBar = {
                chart: {
                    type: 'bar',
                    height: 300,
                    width: '100%',
                    stacked: true,
                    toolbar: {
                        show: false
                    },
                },
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                    }
                },
                series: [{
                    name: "Boys",
                    color: '#fdbb38',
                    data: [{{student_gender_male}}],
                }, {
                    name: "Girls",
                    color: '#19affb',
                    data: [{{student_gender_female}}],
                }],
                labels: [2023],
                xaxis: {
                    labels: {
                        show: false
                    },
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        style: {
                            colors: '#777'
                        }
                    }
                },
                title: {
                    text: '',
                    align: 'left',
                    style: {
                        fontSize: '18px'
                    }
                }

            }

            var chartBar = new ApexCharts(document.querySelector('#student_gender'), optionsBar);
            chartBar.render();
        }

        // Historical Data Bar Chart
        if ($('#student_history').length > 0) {
            var optionsBar = {
                chart: {
                    type: 'bar',
                    height: 350,
                    width: '100%',
                    stacked: true,
                    toolbar: {
                        show: false
                    },
                },
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                    }
                },
                series: [{
                    name: "Boys",
                    color: '#fdbb38',
                    data: [420, 532, 516, 575, 519, 517, 454],
                }, {
                    name: "Girls",
                    color: '#19affb',
                    data: [336, 612, 344, 647, 345, 563, 256],
                }],
                labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015],
                xaxis: {
                    type: 'category',
                    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015],
                    labels: {
                        rotate: -45,
                    },
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        style: {
                            colors: '#777'
                        }
                    }
                },
                title: {
                    text: '',
                    align: 'left',
                    style: {
                        fontSize: '18px'
                    }
                }

            }

            var chartBar = new ApexCharts(document.querySelector('#student_history'), optionsBar);
            chartBar.render();
        }

        // Attendance Report Chart
        if ($('#admin_attendance_report').length > 0) {
            var attendanceData = {
                series: [
                    {
                        name: 'Present',
                        color: '#28a745',
                        data: [ 
                            {% for year, data in attendance_percentages.items %}
                                {{ data.present }},
                            {% endfor %}
                        ]
                    }, 
                    {
                        name: 'Absent',
                        color: '#dc3545',
                        data: [ 
                            {% for year, data in attendance_percentages.items %}
                                {{ data.absent }},
                            {% endfor %}
                        ]
                    }
                ],
                labels: [
                    {% for year in attendance_percentages.keys %}
                        '{{ year }}',
                    {% endfor %}
                ]
            };

            var optionsAttendance = {
                chart: {
                    type: 'bar',
                    height: 350,
                    width: '100%',
                    stacked: true,
                    toolbar: {
                        show: false
                    },
                },
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                    }
                },
                series: attendanceData.series,
                labels: attendanceData.labels,
                xaxis: {
                    type: 'category',
                    categories: attendanceData.labels,
                    labels: {
                        rotate: -45,
                    },
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        style: {
                            colors: '#777'
                        }
                    }
                },
                
            };

            var chartAttendance = new ApexCharts(document.querySelector('#admin_attendance_report'), optionsAttendance);
            chartAttendance.render();
        }

        if ($('#student_attendance_report').length > 0) {
            var monthlyAttendanceData = JSON.parse('{{ monthly_attendance_json|escapejs }}');
            console.log("Monthly Attendance Data (JS):", monthlyAttendanceData);
    
            function renderMonthlyChart(year) {
                var presentPercentageData = [];
                var absentPercentageData = [];
                var months = [];
    
                for (var key in monthlyAttendanceData) {
                    if (monthlyAttendanceData.hasOwnProperty(key)) {
                        var yearMonth = key.split(',');
                        var dataYear = parseInt(yearMonth[0]);
                        var month = parseInt(yearMonth[1]);
    
                        if (dataYear === parseInt(year)) {
                            months.push(month);
    
                            var presentDays = monthlyAttendanceData[key]['present'];
                            var absentDays = monthlyAttendanceData[key]['absent'];
                            var totalDays = presentDays + absentDays;
    
                            var presentPercentage = (presentDays / totalDays) * 100;
                            var absentPercentage = (absentDays / totalDays) * 100;
    
                            presentPercentageData.push(presentPercentage);
                            absentPercentageData.push(absentPercentage);
                        }
                    }
                }
    
                console.log("Months:", months);
                console.log("Present Percentage Data:", presentPercentageData);
                console.log("Absent Percentage Data:", absentPercentageData);
    
                var optionsMonthlyAttendance = {
                    chart: {
                        type: 'bar',
                        height: 300,
                        width: '100%',
                        stacked: true,
                        toolbar: {
                            show: false
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            columnWidth: '45%',
                        }
                    },
                    series: [
                        {
                            name: 'Present',
                            color: '#28a745',
                            data: presentPercentageData
                        },
                        {
                            name: 'Absent',
                            color: '#dc3545',
                            data: absentPercentageData
                        }
                    ],
                    xaxis: {
                        type: 'category',
                        categories: months.map(function(month) {
                            return new Date(0, month - 1).toLocaleString('default', { month: 'short' });
                        }),
                        labels: {
                            rotate: -45,
                        },
                        axisBorder: {
                            show: false
                        },
                        axisTicks: {
                            show: false
                        },
                    },
                    yaxis: {
                        axisBorder: {
                            show: false
                        },
                        axisTicks: {
                            show: false
                        },
                        labels: {
                            formatter: function (value) {
                                return value.toFixed(2) + "%";  // Display percentage
                            },
                            style: {
                                colors: '#777'
                            }
                        }
                    },
                   
                };
    
                var chartMonthlyAttendance = new ApexCharts(document.querySelector('#student_attendance_report'), optionsMonthlyAttendance);
                chartMonthlyAttendance.render();
            }
    
            var initialYear = $('#yearSelector').val();
            renderMonthlyChart(initialYear);
    
            $('#yearSelector').on('change', function() {
                var selectedYear = $(this).val();
                renderMonthlyChart(selectedYear);
            });
        }



        if ($('#overall_attendance_pie_chart').length > 0) {
            var overallAttendanceData = JSON.parse('{{ overall_attendance|escapejs }}');
            console.log("Overall Attendance Data (JS):", overallAttendanceData);
        
            var optionsOverallAttendance = {
                chart: {
                    type: 'pie',
                    height: 300
                },
                labels: ['Present', 'Absent'],
                series: [overallAttendanceData['present'], overallAttendanceData['absent']],
                colors: ['#28a745', '#dc3545'],
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val.toFixed(2) + "%";
                    }
                },
                legend: {
                    position: 'bottom'
                }
            };
        
            var chartOverallAttendance = new ApexCharts(document.querySelector('#overall_attendance_pie_chart'), optionsOverallAttendance);
            chartOverallAttendance.render();
        }
        
    });
    

</script>